

  td.mat-cell {
    padding: 16px 0;
    border-bottom: 1px solid #ffa600;
    border-top: 1px solid #ffa600;
   }
   
   td.mat-cell:first-child {
     border-left: 1px solid #ffa600;
   }
   
   td.mat-cell:last-child {
     border-right: 1px solid #ffa600;
   }
   
   table {
     border-spacing: 0 8px !important;
     width: 60%;
     padding-left: 50px;
   } 

   h3{
    color:blue
   }